@model TrashPickupWebApplication.Models.UserInfo
@{
    ViewBag.Title = "ChangeMyInfo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ChangeMyInfo</h2>
<br />
<br />
@using (Html.BeginForm("ChangeMyInfo", "MyServices"))
{
<div class="form-group">
    @Html.LabelFor(m => m.FirstName, "First Name", new { @class = "col-md-2 control-label" })
    <div class="col-md-10">
        @Html.TextBoxFor(m => m.FirstName, "First Name", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.FirstName, "", new { @class = "text-danger" })
    </div>
</div>
<br />
<br />
<br />
<div class="form-group">
    @Html.LabelFor(m => m.LastName, "Last Name", new { @class = "col-md-2 control-label" })
    <div class="col-md-10">
        @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.LastName, "", new { @class = "text-danger" })
    </div>
</div>
<<<<<<< HEAD
<br />
<br />
<div class="form-group">
    @Html.LabelFor(m => m.Address.StreetAddress, "Street Address", new { @class = "col-md-2 control-label" })
    <div class="col-md-10">
        @Html.TextBoxFor(m => m.Address.StreetAddress, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Address.StreetAddress, "", new { @class = "text-danger" })
    </div>
</div>
<br />
<br />
<div class="form-group">
     @Html.LabelFor(m => m.Address.City, "City", new { @class = "col-md-2 control-label" })
     <div class="col-md-10">
         @Html.TextBoxFor(m => m.Address.City, new { @class = "form-control" })
         @Html.ValidationMessageFor(m => m.Address.City, "", new { @class = "text-danger" })
     </div>
</div>
<br />
<br />
    <div class="form-group">
        @Html.LabelFor(m => m.Address.State, "State", new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Address.State, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Address.State, "", new { @class = "text-danger" })
        </div>
    </div>
<br />
<br />
    <div class="form-group">
        @Html.LabelFor(m => m.Address.Zipcode, "Zip Code", new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Address.Zipcode, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Address.Zipcode, "", new { @class = "text-danger" })
        </div>
    </div>
<br />
<br />
<div class="editor-field">
    @Html.LabelFor(m => m.AccountType.AccountType, "Account Type", new { @class = "col-md-2 control-label" })
    @Html.RadioButtonFor(m => m.AccountType.AccountType, "Customer")
    <label>Customer</label>
    @Html.RadioButtonFor(m => m.AccountType.AccountType, "Employee") 
    <label>Employee</label>
    @Html.RadioButtonFor(m => m.AccountType.AccountType, "Administrator")
    <label>Adminstrator</label>
    @Html.ValidationMessageFor(m => m.AccountTypeId)
</div>
<br />
<br />
=======
>>>>>>> d209bb6de5a0bf0f04a36378c70f4aafdec2e41c
    @Html.HiddenFor(m => m.ID)
    @Html.AntiForgeryToken()

<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        <input type="submit" class="btn btn-default" value="Submit" />
    </div>
</div>
}
@section Scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}